@page "/register"
@model StockSimulator.Pages.Auth.RegisterModel
@{
	Layout = "_AuthLayout";
	ViewData["Title"] = "Register";
}
<section>
	<a href="/" class="secondary">
		← back to home page
	</a>
	<article>
		<h1>Create your account</h1>
		<form method="post">
			@Html.ValidationSummary()
			<div>
				<label asp-for="Input.Name">
					Name
				</label>
				<input asp-for="Input.Name" type="text" required />
				<small>@Html.ValidationMessageFor(m => m.Input.Name)</small>
			</div>
			<div>
				<label asp-for="Input.Email">
					Email address
				</label>
				<input asp-for="Input.Email" type="email" autocomplete="email" required />
				<small>@Html.ValidationMessageFor(m => m.Input.Email)</small>
			</div>
			<div>
				<label asp-for="Input.Password">
					Password
				</label>
				<input asp-for="Input.Password" type="password" autocomplete="current-password" required />
				<small>@Html.ValidationMessageFor(m => m.Input.Password)</small>
			</div>
			<div>
				<label asp-for="Input.ConfirmPassword">
					Comfirm Password
				</label>
				<input asp-for="Input.ConfirmPassword" type="password" autocomplete="current-password" required />
				<small>@Html.ValidationMessageFor(m => m.Input.ConfirmPassword)</small>
			</div>
			<div class="grid">
				<button type="submit">
					Create account
				</button>
			</div>
		</form>
		<footer>
			<a href="/login" class="secondary">
				Already registered? Sign in
			</a>
		</footer>
	</article>
</section>
