@page "/dashboard"
@inject ILogger logger
@inject StockService stockService
@using SoapExtensions
@attribute [Authorize]


<PageTitle>Dashboard</PageTitle>

<section>
    <h1>
        Dashboard
    </h1>
    <article>
        <h3>Your Stock@(user?.Stocks?.Count is { } amm ? amm > 1 ? "s" : "" : "")</h3>
        
        <a role="button" class="contrast outline" style="color:green;border-color: green" href=/view-bare-stocks type="button" >Buy Stocks</a>
        @if (user?.Stocks is not null && user.Stocks.Any())
        {
            <table role="list">
            <thead>
                <td>Ticker</td>
                
            <td>
                Current Stock Price 
                        
            </td>
            
                
            <td>Profit</td>
            <td style="text-align: center"><a href="javascript:void(0);" role="button" type="button" class="contrast outline" @onclick=RefreshStockPrices aria-busy=@stockList?.All(x => x.LoadingState == LoadingState.Loaded) disabled=@(stockList?.Any(x => x.LoadingState != LoadingState.Loaded)) style="padding: 10px" >Refresh All</a></td>
                
            </thead>
            <tbody>
                @foreach(var item in stockList!)
                {
                    <tr>
                        <td>
                            @item.PriceInfo.Ticker
                        </td>
                        <td style="text-align: start">
                            @switch (item.LoadingState)
                            {
                                case LoadingState.InitialLoad:
                                    <i class="spin material-icons"  style="text-align: center">refresh</i>
                                    break;
                                case LoadingState.Loaded:
                                    <p style="margin: 0">@item.PriceInfo.Price.ToString("C")</p>
                                    break;
                                case LoadingState.Refreshing:
                                    <p aria-busy="true" style="margin: 0">@item.PriceInfo.Price.ToString("C")</p>
                                    break;
                                default:
                                    throw new ArgumentOutOfRangeException();
                            }
                        </td>
                        <td style="text-align: start">
                            @if(item.LoadingState == LoadingState.Loaded)
                            {
                                var stock = user!.Stocks.First(x => x.Ticker == item.PriceInfo.Ticker);
                                var profit = item.PriceInfo.Price - stock.PriceBoughtAt;
                                var profitColor = profit > 0 ? "green" : "red";
                                <p style="margin: 0;color:@profitColor">@profit.ToString("C")</p>
                            }
                            else
                            {
                                <i class="spin material-icons"  style="text-align: center">refresh</i>
                            }
                        </td>
                        <td style="text-align: center">
                            
                            <i disabled="@(item.LoadingState != LoadingState.Loaded)" onclick=@(() => item.LoadingState == LoadingState.Loaded ?  RefreshStockPrice(item): Task.CompletedTask) class="material-icons @(item.LoadingState == LoadingState.Refreshing? "spin" : "")" style="text-align: center">refresh</i>
                            @*<button @onclick=@(() => RefreshStockPrice(item)) class="secondary">
                                <i class="material-icons">refresh</i>
                            </button>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
        else
        {
            <h4>You dont own any stocks yet!</h4>
        }
        
    </article>
</section>
@code {
    [CascadingParameter]
    public MainLayout? Layout { get; set; }
    private User? user => Layout?.User;
    private List<StockVM>? stockList;



    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        stockList = new (user?.Stocks?.Count ?? 0);
        user.Stocks.ForEach(x => stockList.Add(new StockVM(new PriceInfo(x.Ticker, x.PriceBoughtAt, true), LoadingState.InitialLoad)));
        if (user?.Stocks is { } stocks && stocks.Count > 0)
        {
            var prices = await stockService.BatchGetCurrentStockPrices(user.Stocks.Select(x => x.Ticker).ToArray());
            foreach (var i in 0..(user.Stocks.Count-1))
            {
                stockList[i] = new (prices[i], LoadingState.Loaded);
            }

        }

    }
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        StateHasChanged();
    }

    private async Task RefreshStockPrices()
    {
        stockList!.ForEach(x => x.LoadingState = LoadingState.Refreshing);
        await InvokeAsync(StateHasChanged);
        await stockService.BatchGetCurrentStockPrices(user.Stocks.Select(x => x.Ticker).ToArray()).Then(x => x.ForEach((p,index) => {
            stockList[index] = new(p, LoadingState.Loaded);
            StateHasChanged();
        }));
    }
    private async Task RefreshStockPrice(StockVM item)
    {

        var stock = stockList.Find(x => x.PriceInfo == item.PriceInfo)!;
        stock.LoadingState = LoadingState.Refreshing;
        await InvokeAsync(StateHasChanged);
        var res = await stockService.GetTickerDataAsync(item.PriceInfo.Ticker);
        stock.PriceInfo.Price = res.Match(x => x.Price, _ => item.PriceInfo.Price);
        stock.LoadingState = LoadingState.Loaded;
        await InvokeAsync(StateHasChanged);
    }
    private enum LoadingState
    {
        InitialLoad,
        Loaded,
        Refreshing
    }
    private class StockVM 
    {
        public PriceInfo PriceInfo {get; set;}
        public LoadingState LoadingState {get; set;}

        public StockVM(PriceInfo p, LoadingState l)
        {
            this.PriceInfo = p;
            this.LoadingState = l;
        }
    }
}